<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:config>
        <aop:aspect id="log" ref="logging">
            <aop:pointcut id="selectLog" expression="execution(* org.example.Bank.*(int))"/>
            <aop:after pointcut-ref="selectLog" method="afterAdvice"/>
            <!--            <aop:pointcut id="selectLog1" expression="execution(* org.example.Bank.Deposit(..))"/>-->
<!--            <aop:after pointcut-ref="selectLog1" method="afterAdvice"/>-->
                        <aop:pointcut id="selectLog2" expression="execution(int org.example.Bank.*(..))"/>
<!--                        <aop:after-returning pointcut-ref="selectLog2" method="afterReturningAdvice"/>-->
        </aop:aspect>
        <aop:aspect id="secure" ref="security">
            <aop:pointcut id="ss" expression="execution(* org.example.Bank.*(..))"/>
            <aop:before pointcut-ref="ss" method="beforeAdvice"/>
        </aop:aspect>
    </aop:config>
    <bean id="security" class="org.example.SecurityAdvice" />
    <bean id="logging" class="org.example.LoggingAdvice" />
    <bean id="bank" class="org.example.Bank"/>
</beans>